certifi==2017.11.5
chardet==3.0.4
confusable-homoglyphs==2.0.2
Django==2.2.24
django-bootstrap==0.2.4
django-bootstrap3==9.1.0
django-decouple==2.1
django-registration==2.3
idna==2.6
psycopg2==2.7.3.2
pytz==2017.3
requests==2.18.4
tmdbsimple==1.8.0
urllib3==1.22
whitenoise==3.3.1
